@import url('../../../App.css');

.regression-table-container {
  color: #fff; 
  font-family: 'Arial', sans-serif; 
  border-collapse: collapse; 
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.regression-table-header{
  background-color: #333;
  padding: 15px;
  font-size: 0.9em;
  text-align: left;
  padding-top: 10px; 
  padding-bottom: 10px; 
  
}

.regression-table {
  width: 100%;
  overflow: auto;
  height: auto;
  margin: 0; 
  padding: 0; 
  border: none; 
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--defaultSecondaryColor); 
  margin: 0; 
}


.regression-table-row  {
  border-bottom: 1px solid #434651; 
}
.regression-table-row:last-child {
  border-bottom: none; 
}

.regression-table-data{
  padding: 10px; 
  padding: 10px 10px;
  border-bottom:  1px;
  color: var(--defaultTextColor);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
}