@import url('../../App.css');
/* Table Container */
.filter-table-container {
  table-layout: fixed;
  width: 98%;
  border-collapse: collapse; /* This property should be here */
  background-color: var(--defaultSecondaryColor);
  margin: auto; /* Centers the table horizontally */
  border-spacing: 0; 
  margin-left: 1%;
  margin-right: 1%;
}

/* Table */
.filter-table {
  width: 100%;
  border-spacing: 0; /* Ensures no space between cells */
}

/* Table Header */
.filter-table-header {
  padding: 12px 16px;
  border-bottom: 2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); 
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--defaultTertiaryColor); /* Corrected variable */
  font-weight: 600;
}

/* Table Data Rows */
.filter-table-data {
  padding: 12px 16px;
  border-bottom: 2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--defaultSecondaryColor);
  font-weight: 400; /* Adjusted for differentiation, if needed */
}

/* Table Row */
.filter-table-row {
  height: 65px; 
}

/* Button Styles */
button {
  padding: 8px 12px;
  background-color: #2962ff; /* Primary button color */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #1b48b2; /* Button hover state */
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: flex-end; /* Aligns pagination to the right */
  padding: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e2e2e2;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  th, td {
    padding: 8px; /* Adjusted for smaller screens */
  }

  button {
    padding: 6px 10px;
    font-size: 0.875rem; /* Smaller font for buttons on small screens */
  }
}
