@import url('../../App.css');

.home-page {
    grid-area: main; /* Ensures the component fills the 'main' grid area */
    display: flex; /* Establishes a flex container */
    flex-direction: column; /* Stacks flex items vertically */
    justify-content: center; /* Centers items vertically within the container */
    align-items: center; /* Centers items horizontally within the container */
    height: 100%; /* Full height of its grid area */
    background-color: var(--defaultSecondaryColor); /* Background color from your variables */
    color: var(--defaultTextColor);

  }

.home-page h1 {
    color: var(--defaultTextColor); /* This targets <h1> specifically within .home-page */
}
  