@import url('../../App.css');

/* Container adjustments for the chart collection */
.chart-collection-container {
  width: 98%;
  height: auto;
  overflow: visible;
  background-color: var(--defaultSecondaryColor); /* Use the theme background color */
  color: var(--defaultTextColor); /* Use the theme text color */
  padding: 10px
}

.chart-container {
  width: 100%; /* Full width of its parent */
  height: 600px; /* Temporarily set to a fixed height for testing */
  box-sizing: border-box;
  overflow: auto;
  border: none;
}

/* Dropdown adjustments */
.dropdown-menu {
  width: 10%; /* Make the dropdown fill its container */
  padding: 10px; /* Add some padding inside the dropdown */
  background-color: var(--defaultTertiaryColor);
  color: var(--defaultTextColor);
  border: 1px solid var(--defaultTertiaryColor);
  border-radius: 5px; /* Slightly rounded corners for the dropdown */
  outline: none; /* Remove the outline to match the theme better */
  margin-bottom: 10px; /* Add some space below the dropdown */
}

.dropdown-menu:hover {
cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

/* Style adjustments for options within the dropdown */
.dropdown-menu option {
  background-color: var(--defaultTertiaryColor);; /* Ensure options match the dropdown background */
  color: var(--defaultTextColor); /* Ensure text color matches the theme */
}
