@import url('../../App.css');

/* Dashboard container */
.dashboard-container {
    background-color: var(--defaultSecondaryColor);
    color: var(--defaultTextColor);
}

/* Tabs container */
.tabs {
    display: flex;
    /* width: 100%; */
    border-bottom: 2px solid #364156; /* Add a border below the tabs */
    padding-right: 2rem; /* Add more padding to the right of the tab text */
}

/* Individual tab */
.tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem; /* Restored original padding */
}
.tab:hover {
    cursor: pointer;
}

/* Active tab */
.tab-active {
    background-color: #364156; /* A slightly lighter or different color for active tab */
    color: #ffffff; /* Active tab text color for better contrast */
    border-color: #364156;
}

/* Close button inside tabs */
.tab-button {
    margin-left: 0.625rem; /* Ensure some space between text and button */
    padding: 0;
    background-color: transparent;
}

.tab-button:hover {
    color: white; /* Tailwind's hover:text-white */
    background-color: transparent; /* Keeps the background transparent on hover */
}
/* Main content area below tabs */
.content-area {
    padding: 0.625rem 1.25rem;
    background-color: var(--darkSecondaryBg);
    cursor: default;
    border: 1px solid var(--darkBorderColor);
    border-top: none;
    border-radius: 0.375rem 0.375rem 0 0;
    font-size: 0.875rem;
}

/* Title within the main content area */
.content-title {
    color: var(--gray-300);
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
  