/* Container */
.overview-table-container {
    overflow: auto;
    height:auto;
  }

/* Table */
.overview-table {
  table-layout: fixed;
  width: 98%;
  border-collapse: collapse;
  background-color: var(--defaultSecondaryColor); /* Consistent with the sidebar background */
  margin-left: 1%;
}

.overview-table-row {
  height: 65px; /* Fixed row height */

}

.overview-table-header {
  padding: 12px 16px;
  border-bottom: 2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); /* Consistent text color */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--defaultTertiaryColor); /* Header distinct background */
  font-weight: 600;

}
.overview-table-data-metric {
  padding: 12px 16px;
  border-bottom:  2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); /* Consistent text color */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem; /* Adjusted padding */

}
.overview-table-data-value {
  padding: 12px 16px;
  border-bottom:  2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); /* Consistent text color */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 0.75rem; /* Adjusted padding */

}

  