@import url('../../App.css');

/* Container */
.parameters-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 10px;
    margin: 6px;
    border-top: 2px solid var(--defaultBorderColor);
    border-bottom: 2px solid var(--defaultBorderColor);;
    background-color: var(--defaultTertiaryColor);
}

/* Bar items */
.parameters-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parameters-item div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parameters-item div span:not(:first-child)::before {
    content: ' | ';
}

.parameters-header {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.875rem; /* 14px if 1rem = 16px */
    margin-bottom: 6px;
    color: white;
}

.parameters-value {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.875rem;
    margin-bottom: 6px;
     color: white;

}
