.login-overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a layered model */
  }
  
  .login-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Maximum width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* Optional: for rounded corners */
  }
  
  .login-container h2 {
    color: #333;
  }
  
  .login-container input {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-container button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .login-container button:hover {
    opacity: 0.8;
  }
  
  .login-error {
    color: red;
    margin-bottom: 15px;
  }
  