@import url("../../App.css");

.login-overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--defaultPrimaryColor); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a layered model */
}
  
.login-title{
  color: var(--defaultTextColor);
  position: absolute; 
  top: 10%; 
  width: 100%;
  text-align: center; /* Ensures text is centered horizontally */
}

.login-logo{
  width: 100px;
  height: auto;
}
.login-title, h1{
  font-size: 700;
}

.login-title h2{
  font-size: 100;
}

.login-container {
  background-color: transparent;
  margin: auto;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  border-radius: 5px; /* Optional: for rounded corners */
  top: 30%; /* Adjust top position to move it below the title */
  color: var(--defaultTextColor);
}
  
.login-container h2 {
  color: var(--defaultTextColor);
}

.login-container input {
  width: calc(100% - 20px);
  background-color: transparent;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #888;
  color: var(--defaultTextColor);
}

.login-container button {
  background-color: var(--defaultTextColor); /* Green */
  color:  var(--defaultPrimaryColor);
  padding: 14px 20px;
  margin: 8px 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  position: relative; /* Positioned relative to its normal position */
  left: 25%; /* Adjust as necessary to center the button */
}

.login-container button:hover {
  opacity: 0.8;
}

.login-error {
  color: red;
  margin-bottom: 15px;
  text-align: center; /* Center the error message */
}
