:root {
  --defaultPrimaryColor: #1d2634;
  --defaultSecondaryColor: #263043;
  --defaultTertiaryColor:#2d3b55;
  --defaultAccentColor: #f2a365; 
  --defualtHoverBackground: #374151;
  --defaultTextColor:#9e9ea4;
  --defaultBorderColor:#39495e;
  --defaultBorderWidth: 2px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--defaultPrimaryColor);
  font-family: 'Montserrat', sans-serif;
} 

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr; 
  grid-template-rows: 61px auto; /* Explicitly define header height and remaining space for content */
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  height: 100vh;
  transition: all 0.3s ease;
}

/* When sidebar is hidden, adjust the grid */
.grid-container.sidebar-hidden {
  grid-template-columns: 0 1fr; /* Hide the sidebar column */
} 



