@import url('../../../App.css');

:root{
    --chartTab_info_height:42px;
  }
    
.return-chart-container {
  width: 100%;
  height: calc(100% - var(--chartTab_info_height));
  z-index: 1;  
}

.return-chart {
  position: relative;
  width: 100%; 
  height: 100%;
}
  