@import url('../../App.css');

/* Updated Container */
.account-container {
  padding: 0;
}

.account-title{
  color : var(--defaultTextColor);
}

.account-table {
  width: 100%;
  overflow: auto;
  height: auto;
  margin: 0; /* Ensure no additional margin around the table container */
  padding: 0; /* Ensure no additional padding around the table container */
  border: none; /* Ensure no border around the table container */
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--defaultSecondaryColor); /* Consistent with the sidebar background */
  margin: 0; /* Adjusted to remove unnecessary margin */
}

/* Updated Table */
.account-table-header{
  padding: 12px 16px;
  border-bottom: 2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); /* Consistent text color */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: var(--defaultTertiaryColor); /* Header distinct background */
  font-weight: 600;
}

.account-table-data {
  padding: 12px 16px;
  border-bottom: 2px solid var(--defaultBorderColor);
  color: var(--defaultTextColor); /* Consistent text color */
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.account-table-row {
height: 65px; /* Fixed row height */
}


